*{
    margin: 0;
    padding: 0;
}

body{
    justify-content: center;
    align-items: center;
    background-image: url(../img/madera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    display: flex;
    padding-top: 20px;
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#logos{
    width: 20%;
}

.box{
    border: 1px solid black;
    box-shadow: 10px 5px 5px black;
    background-image: url(../img/18da45ed29c160cd010e5c05ae1ff42e.jpg);
    margin-top: 44%;
    border-radius: 20px;
    width: 50%;
    position: absolute;
    line-height: 50px;
    text-align: center;
}

img{
    width: 8%;
}

img:hover{
    width: 9%;
}
