body{
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    touch-action: manipulation;
}

.dialog{
    margin-top: 0%;
    width: 100%;
    padding: 0%;  
    height: 100%;
}

.veia {
    margin-top: 0%;
    width: 100%;
    padding: 0%;  
    height: 50%;

}

.chat {
    position: fixed;
    margin-top: 31%;
    margin-left: 50.9%;
    width: 50%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    opacity: 0.6;
  
}

.botao{
    background-image: url(../papafigo/1650461545859.png);
    background-color: transparent;
    background-size: 80%;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 44%;
    margin-left: 92.6%; 
    border-bottom: none;
    margin-bottom: 0px;
    padding: 4%;
    width: 7%; 
    border-radius: 10.5%;
    border-top: none;
    border-left: none;
    border-right: none;
 }

 .botao:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
 }

button.mapa {
    background-image: url(../papafigo/mundo.gif);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    margin-top: 10%;
    margin-left: 10%; 
    width: 20px;
    padding: 20px;
    border: 0px;
}

button.mapa:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

p.ebaa {
    position: absolute;
    margin-top: 33%;
    margin-left: 54%;
    font-size: 40px;
    font-family: 'HelloPumpkin';
    color: orange;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: purple;

}

p.salada {
    position: absolute;
    margin-top: 33%;
    margin-left: 54%;
    font-size: 48px;
    font-family: 'HelloPumpkin';
    color: orange;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: purple;
 
}

@font-face {
font-family: 'HelloPumpkin';
src: url(Hello_Pumpkin.otf);

}

