body{
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    touch-action: manipulation;
}

.dialog{
    margin-top: 0%;
    width: 100%;
    padding: 0%;  
    height: 100%;
}

.hag{
    margin-top: 0%;
    width: 100%;
    padding: 0%;  
    height: 100%;
}



.veia {
    margin-top: 0%;
    width: 100%;
    padding: 0%;  
    height: 50%;

}

.chat {
    position: fixed;
    margin-top: 31%;
    margin-left: 50.9%;
    width: 50%;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: white;
    opacity: 0.7;
  
}

.botao{
    background-image: url(../papa_figo/1650461545859.png);
    background-color: transparent;
    background-size: 80%;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 44%;
    margin-left: 92.6%; 
    border-bottom: none;
    margin-bottom: 0px;
    padding: 4%;
    width: 7%; 
    border-radius: 10.5%;
    border-top: none;
    border-left: none;
    border-right: none;
 }

 .botao:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
 }

 .map {
    background-image: url(../papa_figo/mundo.gif);
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    margin-top: 1%;
    margin-left: 1%; 
    border-bottom: none;
    margin-bottom: 0px;
    padding: 100px;
    width: 100px; 
    border-radius: 50%;
    border-top: none;
    border-left: none;
    border-right: none;
 }

 .map:hover {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
 }

p.ebaa {
    position: absolute;
    margin-top: 33%;
    margin-left: 54%;
    font-size: 54px;
    font-family: 'HelloPumpkin';
    color: orange;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: purple;
}

p.salada {
    position: absolute;
    margin-top: 33%;
    margin-left: 54%;
    font-size: 48px;
    font-family: 'HelloPumpkin';
    color: orange;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: purple;
}

p.sas {
    position: absolute;
    margin-top: 33%;
    margin-left: 54%;
    font-size: 48px;
    font-family: 'HelloPumpkin';
    color: orange;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: purple;
}

@font-face {
font-family: 'HelloPumpkin';
src: url(Hello_Pumpkin.otf);

}

